.aside {
    @media (min-width: $breakpoint-desktop) {
        position: fixed;
        height: 100vh;
    }

    &__nav {
        @media (min-width: $breakpoint-desktop) {
            height: 100%;
            margin: 0 1rem;
        }
    }

    &__menu {
        display: flex;
        justify-content: space-around;
        list-style: none;
        padding: 0;

        @media (min-width: $breakpoint-desktop) {
            flex-direction: column;
            height: 100%;
            justify-content: center;
        }
    }

    &__menuItem {
        background-color: $secondary-color;
        border-radius: 50%;
        height: 3rem;
        position: relative;
        text-align: center;
        width: 3rem;

        @media (min-width: $breakpoint-desktop) {
            margin-bottom: 2rem;
        }
    }

    &__menuItemLink {
        color: $primary-color;
        font-size: $fontSize-xl;
        left: 50%;
        position: absolute;
        text-decoration: none;
        text-transform: uppercase;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}