* {
    box-sizing: border-box;
}

html, body {
    width: 100%;
    min-height: 100%;
}
body {
    background-color: $primary-color;
    color: $text-color;
    margin: 0;
    padding: 0;
    font-size: $fontSize-default;
}

.header {
    background-color: $primary-color;
    position: fixed;
    width: 100%;
    z-index: 1;
}
    
.mainContainer {
    @media (min-width: $breakpoint-desktop) {
        display: flex;
    }
}

.main {
    margin: 0 1rem;
    padding-top: 6rem;

    @media (min-width: $breakpoint-desktop) {
        width: 100%;
        padding-left: 5rem;
    }
}