/*
 * colors 
 */
$blue: #212b55;
$gold: #ab8d58;
$white: #ffffff;
$purple: #fe65e2;

$primary-color: $blue;
$secondary-color: $gold;
$selected-color: $purple;

$text-color: $white;

/*
 * typography 
 */
$fontSize-xs: 0.8rem;
$fontSize-s: 0.9rem;
$fontSize-default: 1rem;
$fontSize-l: 1.25rem;
$fontSize-xl: 1.5rem;

/*
 * breakpoints 
 */
$breakpoint-tablet: 576px;
$breakpoint-desktop: 992px;
